body, html {
    padding:0px;
    margin:0px;
    text-align:center;
    color:#fff;
    background-color: #00bfff;
    line-height: 1.4em;
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
}

input[type="text"]{
    padding: 10px;
    border-radius: 2px;
    font-size: 18px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: #ddd;
    color: #222;
    width: 200px;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
}
input[type="text"]:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
}
input[type="text"]:focus {
    border: 2px solid rgba(255, 255, 255, 1);
    background:#fff;
    color:#222;
}

input[type="button"]{
    padding: 7px;
    border-radius: 2px;
    font-size: 18px;
    outline: none;
    border: 2px solid #ddd;
    background: #fff;
    color: #444;
    width: 150px;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
    -webkit-appearance: none;
}
input[type="button"]:hover {
    background: #ddd;
}
input[type="button"]:focus {
    background:#ddd;
    color:#444;
}
input[type="radio"]{
    display: none;
    padding: 7px;
    border-radius: 2px;
    font-size: 17px;
    outline: none;
    border: 2px solid #fff;
    background: #ddd;
    color: #222;
    width: 200px;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
    -webkit-appearance: none;
}
input[type="radio"]:checked + label {
    background:#ddd;
    color: #000;
}
.label{
    display: block; 
    float: left;
    padding: 7px;
    border-radius: 2px;
    font-size: 18px;
    outline: none;
    border: 2px solid #ddd;
    background: #fff;
    color: #222;
    width: 170px;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
}
.select {
    display:inline-block;
    text-align: center;
}
.form{
    display:inline-block;
    text-align: center;
    padding:0px;
    margin:0px;
}
form{
    width: 400px;
    height: auto;
    border: 2px solid #eee;
    margin: 5px;
}

@media (max-width: 400px) {
    form{
        width: 95%;
        border: 2px solid #ddd;
        margin: 5px;
    }
    .label{
        width: 130px;
    }
    input[type="text"]{
        max-width: 70%;
    }
    input[type="button"]{
        max-width: 40%;
    }
}