body, html {
    padding:0px;
    margin:0px;
    text-align:center;
    color:#fff;
    background-color: #7fd3fa;
    line-height: 1.4em;
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
}

